.appoint {
    background:#000000a1;
    z-index: 1;
    font-family: Arial, sans-serif;
    padding-top: 100px;
    /*background-color:#72A0C1;*/
    background-image:url("../Assets/doca1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.emergency{
    font-family: Arial, sans-serif;
    padding-top: 100px;
    /*background-color:#72A0C1;*/
    background-image:url("../Assets/Medical-Emergency.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    
    background-color:rgb(0,0,0,0.5);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 50px;
    font-family: sans-serif;
    color: whitesmoke;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: whitesmoke;
}

input[type="date"],
input[type="time"],
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    background-color:rgb(255,255,255,0.3);
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
    
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
::placeholder{
    color: white;
}